.forgot-password-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #fff;
}

.forgot-password-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin: 15px 0;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 1rem;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.reset-button,
.generate-code-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.generate-code-button {
  background-color: #4caf50;
  margin-left: 10px;
}

.message{
  margin-top: 15px;
  font-size: 14px;
  color: #f00;
  background: #fee;
  border: 1px solid #fdd;
  border-radius: 5px;
  padding: 10px;
}
.validation-message {
  color:red
}

.back-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #0077cc;
}

.back-link:hover {
  text-decoration: underline;
}
